// ## modals

%modal-1 {

    @extend %arial-1;

    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    @media screen {
        height: 100vh;
    }

    > .modal-1-content {

        background-color: $white-1;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        z-index: 3;

        @include breakpoint(medium up) {
            background-color: transparent;
            height: auto;
        }

        > * {
            background-color: $white-1;
        }

    }

    > button {

        @extend %accessibility-hidden-text;

        background-color: $grey-1;
        display: block;
        height: 100%;
        left: 0;
        opacity: .9;
        position: fixed;
        top: 0;
        width: 100%;

    }

}

//added to body class to control page content
%modal-1-open {

    @include breakpoint(small only) {

        .wrapper {
            display: none;
        }

        .modal-1 {
            top: 0;
        }

    }

    @include breakpoint(medium up) {
        overflow: hidden;
    }


}
