{
    "env":{
        "node":true,
        "browser":true,
        "jasmine":true,
        "amd":true
    },
    "extends":"eslint:recommended",
    "globals":{

    },
    "rules":{
        "no-console":2,
        "curly":2,
        "comma-dangle":[
            2,
            "never"
        ],
        "strict":[
            2,
            "function"
        ],
        "camelcase":[
            2,
            {
                "properties":"always"
            }
        ],
        "quotes":[
            2,
            "single"
        ],
        "no-multiple-empty-lines":2,
        "space-before-function-paren":[
            2,
            "never"
        ],
        "indent":[
            2,
            4
        ],
        "max-len":[
            2,
            120,
            4
        ],
        "max-params":[
            2,
            3
        ]
    }
}
