// ## accessibility hidden text
// hide text off screen for sighted users and leave accessible for screen readers

%accessibility-hidden-text-1 {
    text-indent: rem-calc(-5000);
}

// ## acessibility hidden element
// hide elements off screen for sighted users and leave accessible for screen readers

%accessibility-hidden-element-1 {
    clip: rect(0 0 0 0);
    left: rem-calc(-5000);
    overflow: hidden;
    position: absolute;
}

// ## accessibility focus
// show elements on focus only

%accessibility-focus-1 {

    @extend %accessibility-hidden-element-1;

    &:focus {
        clip: auto;
        left: auto;
        overflow: visible;
        position: static;
    }

}

// ## accessibility skip to element
// show skip to links on focus

%accessibility-skip-to-element-1 {

    @extend %accessibility-focus-1;

    background-color: $white-1;
    color: $black-1;
    display: block;
    padding: rem-calc(10);
    text-align: center;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

}
