// ## modals

%modal-1 {

    @extend %arial-1;

    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    @media screen {
        height: 100vh;
    }

    > .modal-1-content {

        background-color: $white-1;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        z-index: 1;

        @include breakpoint(medium up) {
            background-color: transparent;
            height: auto;
        }

        > * {
            background-color: $white-1;
        }

    }

    > button {

        @extend %accessibility-hidden-text;

        background-color: $grey-1;
        display: block;
        height: 100%;
        left: 0;
        opacity: .9;
        position: fixed;
        top: 0;
        width: 100%;

    }

}

//added to body class to control page content
%modal-1-open {

    @include breakpoint(small only) {

        .wrapper {
            display: none;
        }

        .modal-1 {
            top: 0;
        }

    }

    @include breakpoint(medium up) {
        overflow: hidden;
    }


}

// ## tabpanels

// ### tabpanel-base-1

%tabpanel-base-1 {

    > [role=tablist] [role=tab] {
        cursor: pointer;
    }

    > [role=tabpanel][aria-hidden=true] {
        display: none;
    }

}

// ### tabpanel-1

%tabpanel-1 {

    @extend %tabpanel-base-1;
    @extend %arial-1;

    margin: 0;

    > [role=tablist] {

        @include clearfix;

        margin: 0;
        padding: 0;

        > [role=tab] {

            @extend %arial-1;

            background-color: $white-1;
            border-bottom: rem-calc(1) solid $white-1;
            border-left: rem-calc(1) solid $black-1;
            border-right: rem-calc(1) solid $black-1;
            border-top: rem-calc(1) solid $black-1;
            color: $black-1;
            display: block;
            float: left;
            list-style: none;
            margin: 0 rem-calc(1) 0 0;
            padding: rem-calc(13.5);
            text-decoration: none;

            &[aria-selected=false] {
                background-color: $black-1;
                border-bottom-color: $black-1;
                color: $white-1;
            }

        }

    }

    > [role=tabpanel] {
        border: rem-calc(1) solid $black-1;
        margin-top: rem-calc(-1);
        padding: rem-calc(10);
    }

}

// ### tabpanel-2

%tabpanel-2 {

    @extend %tabpanel-base-1;
    @extend %arial-1;

    margin: 0;

    [role=tablist] {

        @include clearfix;

        border: rem-calc(1) solid $black-1;
        margin: 0;
        padding: 0;

        > [role=tab] {

            @extend %arial-1;

            background-color: $white-1;
            border-bottom: rem-calc(1) solid $black-1;
            color: $black-1;
            display: block;
            list-style: none;
            margin: 0 rem-calc(1) 0 0;
            padding: rem-calc(13.5);
            text-decoration: none;
            width: 100%;

            &[aria-selected=false] {
                background-color: $black-1;
                border: 0;
                color: $white-1;
            }

        }

        > [role=tabpanel] {

            padding: rem-calc(10);

            &[aria-hidden=true] {
                display: none;
            }

        }

    }

}

// ### youtube-video-1

%youtube-player-1 {

    //include from foundation
    //http://foundation.zurb.com/sites/docs/flex-video.html
    @include flex-video;

    &.widescreen {
        padding-bottom: flex-video($flexvideo-ratio-widescreen);
    }

    margin: 0;

}
