// ## modals

%modal-1 {

    @extend %arial-1;

}

// ## tabpanels

// ### tabpanel-base-1

%tabpanel-base-1 {

    > [role=tablist] {

        button {
            cursor: pointer;
        }

    }

    > [role=tabpanel][aria-hidden=true] {
        display: none;
    }

}

// ### tabpanel-1

%tabpanel-1 {

    @extend %tabpanel-base-1;
    @extend %arial-1;

    margin: 0;

    > [role=tablist] {

        @include clearfix;

        margin: 0;
        padding: 0;

        > * {

            float: left;
            list-style: none;
            margin: 0 rem-calc(1) 0 0;

            > [role=tab] {

                @extend %arial-1;

                background-color: $white-1;
                border-bottom: rem-calc(1) solid $white-1;
                border-left: rem-calc(1) solid $black-1;
                border-right: rem-calc(1) solid $black-1;
                border-top: rem-calc(1) solid $black-1;
                color: $black-1;
                display: block;
                padding: rem-calc(13.5);

                &[aria-selected=false] {
                    background-color: $black-1;
                    border-bottom-color: $black-1;
                    color: $white-1;
                }

            }

        }

    }

    > [role=tabpanel] {
        border: rem-calc(1) solid $black-1;
        margin-top: rem-calc(-1);
        padding: rem-calc(10);
    }

}
