%panels-1 {

    > section {

        @extend %heading-1;

        background-size: cover;
        color: $white-1;
        height: 100vh;
        opacity: 0;
        padding-top: 50vh;
        text-align: center;
        text-transform: uppercase;

        &.viewed {
            opacity: .5;
        }

        &.active {
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }

        &.panel-1 {
            background-image: url('../image/demo/panel-1.jpg');
        }

        &.panel-2 {
            background-image: url('../image/demo/panel-2.jpg');
        }

        &.panel-3 {
            background-image: url('../image/demo/panel-3.jpg');
        }

        &.panel-4 {
            background-image: url('../image/demo/panel-4.jpg');
        }

        &.panel-5 {
            background-image: url('../image/demo/panel-5.jpg');
        }

        &.panel-6 {
            background-image: url('../image/demo/panel-6.jpg');
        }

    }

}
