// ## colors

// ### blacks
$black-1: #000;

// ### greys
$grey-1: #333;
$grey-2: #666;
$grey-3: #999;
$grey-4: #ccc;
$grey-5: #e5e5e5;
$grey-6: #f8f8f8;

// ### reds
$red-1: #c00;

// ### whites
$white-1: #fff;
