<div class="row">
    <div class="small-12 columns">
        <h1 id="modal-title">disclosures</h1>
        <h2 id="modal-description">Legal disclosures you accept to continue</h2>
        <p>disclosures content</p>
        <button class="button-1" data-modal-close>return to sign up page</button>
    </div>
</div>
