// TO EDIT THIS FILE (_sprite.scss) you have to modify the source file that generates this scss file:
// gulp/views/sprite.handlebars

// ## sprites
// sprite and this scss file are created by the gulp task 'sprite',
// generated sprite is a 2x display dimensions
// DOCS: https://www.npmjs.com/package/sprity


// ### icon-global

%icon-global {

    // hide any text inside the sprite container from sighted users
    @extend %accessibility-hidden-text-1;

    background-image: url('../image/sprite-global.png');
    background-repeat: no-repeat;
    background-size: rem-calc((162 / 2 )) rem-calc((560 / 2));
    display: block;
    overflow: hidden;

    // hide any elements inside the sprite container from sighted users
    > * {
        @extend %accessibility-hidden-element-1;
    }

}

// ### graphic-menu

%graphic-menu {

    @extend %icon-global;

    background-position: rem-calc(-((0 / 2) + 4)) rem-calc(-((0 / 2) + 4));
    height: rem-calc(((120 - 20) / 2) + 2);
    width: rem-calc(((120 - 20) / 2) + 2);

}

// ### graphic-css3

%graphic-css3 {

    @extend %icon-global;

    background-position: rem-calc(-((0 / 2) + 4)) rem-calc(-((120 / 2) + 4));
    height: rem-calc(((220 - 20) / 2) + 2);
    width: rem-calc(((162 - 20) / 2) + 2);

}

// ### graphic-html5

%graphic-html5 {

    @extend %icon-global;

    background-position: rem-calc(-((0 / 2) + 4)) rem-calc(-((340 / 2) + 4));
    height: rem-calc(((220 - 20) / 2) + 2);
    width: rem-calc(((162 - 20) / 2) + 2);

}

