<section data-modal class="modal-1">
    <div class="modal-1-content" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description"></div>
    <button data-modal-close aria-label="close modal"></button>
</section>
