// ## accessibility hidden
// hide off screen for sighted users and leave accessible for screen readers

%accessibility-hidden {

    clip: rect(0 0 0 0);
    left: rem-calc(-5000);
    overflow: hidden;
    position: absolute;

}

// ## accessibility hidden
// show elements on focus only

%accessibility-focus {

    @extend %accessibility-hidden;

    &:focus {
        clip: auto;
        left: auto;
        overflow: visible;
        position: static;
    }

}

// ## accessibility skip to element
// show skip to links on focus

%accessibility-skip-to-element {

    @extend %accessibility-focus;

    background-color: $white-1;
    color: $black-1;
    display: block;
    padding: rem-calc(10);
    text-align: center;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

}
