// ## Define Text Styles

// ### Arial

%arial-1 {
    font-family: 'Arial', sans-serif;
    font-size: rem-calc(16);
}

// ### Open Sans

%open-sans-1 {
    font-family: 'open_sansregular', sans-serif;
    font-size: rem-calc(16);
}
