<!DOCTYPE html>
<html id="error-404" lang="en-us" dir="ltr">
    {{> tags/head}}
    <body>
        {{>tags/a id='skip-to-content' url='#main' class='accessibility-skip-to-element' title='skip to content'}}
        <header>
        </header>
        <nav>
        </nav>
        <main id="main" tabindex="-1">
            {{>toolkit/heading-1 tag='h1' title='Page Not Found'}}
            <p>Sorry, but the page you were trying to view does not exist.</p>
        </main>
        <footer>
        </footer>
        {{> config/config}}
        {{> tags/script script='assets/script/app.compiled.js'}}
    </body>
</html>
