<!DOCTYPE html>
<html id="toolkit" lang="en-us" dir="ltr" data-www="{{www}}" data-cdn="{{cdn}}" data-service="{{service}}" data-google-analytics-id="{{metrics.google-analytics.id}}">
    {{> tags/head}}
    <body>
        <a href="#main" class="accessibility-skip-to-element">skip to content</a>
        <header>
        </header>
        <main id="main" tabindex="-1">
            <h1>Page Not Found</h1>
            <p>Sorry, but the page you were trying to view does not exist.</p>
        </main>
        <footer>
        </footer>
        {{> tags/script script='media/script/app.compiled.js'}}
    </body>
</html>
