<!DOCTYPE html>
<html id="index" lang="en-us" dir="ltr">
    {{> tags/head}}
    <body>
        {{>tags/a id='skip-to-content' url='#main' class='accessibility-skip-to-element' title='skip to content'}}
        <header>
        </header>
        <nav>
        </nav>
        <main id="main" tabindex="-1" class="row">
            <div class="small-12 columns">
                {{>tags/a id='toolkit' url='toolkit/' title='View Toolkit'}}
                {{>toolkit/heading-1 tag='h1' title='heading-1'}}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                {{>toolkit/heading-2 tag='h2' title='heading-2'}}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                {{>toolkit/heading-3 tag='h3' title='heading-3'}}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                {{>toolkit/heading-4 tag='h4' title='heading-4'}}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </main>
        <footer>
        </footer>
        {{> config/config}}
        {{> tags/script script='media/script/app.compiled.js'}}
    </body>
</html>
