<!DOCTYPE html>
<html id="index" lang="en-us" dir="ltr">
    {{> tags/head}}
    <body>
        <a href="#main" class="accessibility-skip-to-element">skip to content</a>
        <header>
        </header>
        <main id="main" tabindex="-1">
            <a href="toolkit/">View Toolkit</a>
        </main>
        <footer>
        </footer>
        {{> config/config}}
        {{> tags/script script='media/script/app.compiled.js'}}
    </body>
</html>
