<!DOCTYPE html>
<html id="toolkit" lang="en-us" dir="ltr" data-www="{{www}}" data-cdn="{{cdn}}" data-service="{{service}}">
    {{> tags/head secondaryCSS='toolkit'}}
    <body>

        <a class="accessibility-skip-to-element" href="#main">skip to content</a>

        <header class="row">
            <div class="small-12 columns">
                <h1>Toolkit</h1>
            </div>
        </header>

        <main id="main" tabindex="-1">

            <nav role="tablist" class="row collapse">
                <ul class="small-12 columns">
                    <li><button id="tab-home" role="tab" aria-controls="panel-home" aria-selected="true">Home</button></li>
                    <li><button id="tab-grid" role="tab" aria-controls="panel-grid" aria-selected="false">Grid</button></li>
                    <li><button id="tab-colors" role="tab" aria-controls="panel-colors" aria-selected="false">Colors</button></li>
                    <li><button id="tab-text" role="tab" aria-controls="panel-text" aria-selected="false" tabindex="-1">Text</button></li>
                    <li><button id="tab-elements" role="tab" aria-controls="panel-elements" aria-selected="false" tabindex="-1">Elements</button></li>
                    <li><button id="tab-components" role="tab" aria-controls="panel-components" aria-selected="false" tabindex="-1">Components</button></li>
                <ul>
            </nav>

            <section id="panel-home" class="row" role="tabpanel" aria-labelledby="tab-home" aria-hidden="false">
                <div class="medium-8 columns">
                    <h2>Browser Support</h2>
                    <p><em>All browser support is for the latest versions except where noted.</em></p>
                    <h3>Windows</h3>
                    <ul>
                        <li>Edge</li>
                        <li>Internet Explorer (11)</li>
                        <li>Firefox</li>
                        <li>Chrome</li>
                    </ul>
                    <h3>OS X</h3>
                    <ul>
                        <li>Safari</li>
                        <li>Firefox</li>
                        <li>Chrome</li>
                    </ul>
                    <h3>iOS</h3>
                    <ul>
                        <li>Safari</li>
                    </ul>
                    <h3>Android</h3>
                    <ul>
                        <li>Chrome</li>
                    </ul>
                    <h2>Screen Reader &amp; Browser Combination Support</h2>
                    <p><em>All screen reader &amp; browser combinations support are for the latest versions except where noted.</em></p>
                    <h3>Windows</h3>
                    <ul>
                        <li>JAWS &amp; Internet Explorer (11)</li>
                        <li>NVDA &amp; Firefox</li>
                    </ul>
                    <h3>OS X</h3>
                    <ul>
                        <li>Voiceover &amp; Safari</li>
                    </ul>
                    <h3>iOS</h3>
                    <ul>
                        <li>Voiceover &amp; Safari</li>
                    </ul>
                    <h3>Android</h3>
                    <ul>
                        <li>Talkback &amp; Firefox</li>
                    </ul>
                </div>
                <aside class="medium-4 columns">
                    <h2>Project Tracking</h2>
                    <p><a href="https://github.com/bshack/shackstack2/issues">bugs</a></p>
                    <h2>Repository</h2>
                    <p><a href="https://github.com/bshack/shackstack2/tree/master/sites/default">github</a></p>
                    <h2>Reporting</h2>
                    <ul>
                        <li><a href="report/istanbul/">Unit Test Coverage</a></li>
                        <li><a href="report/plato/">JavaScript Source Analysis</a></li>
                    </ul>
                </aside>
            </section>

            <section id="panel-grid" role="tabpanel" aria-labelledby="tab-grid" aria-hidden="true">
                <div class="row">
                    <div class="small-12 columns">
                        <h2>Grid</h2>
                        <h3>Example Grids</h3>
                        <h4>Small</h4>
                    </div>
                </div>
                <div class="grid">
                    <div class="row">
                        .row
                    </div>
                    <div class="row">
                        <div class="small-2 columns">.small-2</div>
                        <div class="small-10 columns">.small-10.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">.small-3.columns</div>
                        <div class="small-9 columns">.small-9.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">.small-4.columns</div>
                        <div class="small-8 columns">.small-8.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-5 columns">.small-5.columns</div>
                        <div class="small-7 columns">.small-7.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">.small-6.columns</div>
                        <div class="small-6 columns">.small-6.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-7 columns">.small-7.columns</div>
                        <div class="small-5 columns">.small-5.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-8 columns">.small-8.columns</div>
                        <div class="small-4 columns">.small-4.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-9 columns">.small-9.columns</div>
                        <div class="small-3 columns">.small-3.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-10 columns">.small-10.columns</div>
                        <div class="small-2 columns">.small-2</div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">.small-12.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">.small-6.columns</div>
                        <div class="small-6 columns">.small-6.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-4 columns">.small-4.columns</div>
                        <div class="small-4 columns">.small-4.columns</div>
                        <div class="small-4 columns">.small-4.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">.small-3.columns</div>
                        <div class="small-3 columns">.small-3.columns</div>
                        <div class="small-3 columns">.small-3.columns</div>
                        <div class="small-3 columns">.small-3.columns</div>
                    </div>
                    <div class="row">
                        <div class="small-2 columns">.small-2.columns</div>
                        <div class="small-2 columns">.small-2.columns</div>
                        <div class="small-2 columns">.small-2.columns</div>
                        <div class="small-2 columns">.small-2.columns</div>
                        <div class="small-2 columns">.small-2.columns</div>
                        <div class="small-2 columns">.small-2.columns</div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <h4>Medium</h4>
                    </div>
                </div>
                <div class="grid">
                    <div class="row">
                        .row
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">.medium-2</div>
                        <div class="medium-10 columns">.medium-10.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns">.medium-3.columns</div>
                        <div class="medium-9 columns">.medium-9.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-4 columns">.medium-4.columns</div>
                        <div class="medium-8 columns">.medium-8.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-5 columns">.medium-5.columns</div>
                        <div class="medium-7 columns">.medium-7.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">.medium-6.columns</div>
                        <div class="medium-6 columns">.medium-6.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-7 columns">.medium-7.columns</div>
                        <div class="medium-5 columns">.medium-5.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-8 columns">.medium-8.columns</div>
                        <div class="medium-4 columns">.medium-4.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-9 columns">.medium-9.columns</div>
                        <div class="medium-3 columns">.medium-3.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-10 columns">.medium-10.columns</div>
                        <div class="medium-2 columns">.medium-2</div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">.medium-12.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">.medium-6.columns</div>
                        <div class="medium-6 columns">.medium-6.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-4 columns">.medium-4.columns</div>
                        <div class="medium-4 columns">.medium-4.columns</div>
                        <div class="medium-4 columns">.medium-4.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-3 columns">.medium-3.columns</div>
                        <div class="medium-3 columns">.medium-3.columns</div>
                        <div class="medium-3 columns">.medium-3.columns</div>
                        <div class="medium-3 columns">.medium-3.columns</div>
                    </div>
                    <div class="row">
                        <div class="medium-2 columns">.medium-2.columns</div>
                        <div class="medium-2 columns">.medium-2.columns</div>
                        <div class="medium-2 columns">.medium-2.columns</div>
                        <div class="medium-2 columns">.medium-2.columns</div>
                        <div class="medium-2 columns">.medium-2.columns</div>
                        <div class="medium-2 columns">.medium-2.columns</div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <h4>Large</h4>
                    </div>
                </div>
                <div class="grid">
                    <div class="row">
                        .row
                    </div>
                    <div class="row">
                        <div class="large-2 columns">.large-2</div>
                        <div class="large-10 columns">.large-10.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-3 columns">.large-3.columns</div>
                        <div class="large-9 columns">.large-9.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">.large-4.columns</div>
                        <div class="large-8 columns">.large-8.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-5 columns">.large-5.columns</div>
                        <div class="large-7 columns">.large-7.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">.large-6.columns</div>
                        <div class="large-6 columns">.large-6.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-7 columns">.large-7.columns</div>
                        <div class="large-5 columns">.large-5.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-8 columns">.large-8.columns</div>
                        <div class="large-4 columns">.large-4.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-9 columns">.large-9.columns</div>
                        <div class="large-3 columns">.large-3.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-10 columns">.large-10.columns</div>
                        <div class="large-2 columns">.large-2</div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">.large-12.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">.large-6.columns</div>
                        <div class="large-6 columns">.large-6.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-4 columns">.large-4.columns</div>
                        <div class="large-4 columns">.large-4.columns</div>
                        <div class="large-4 columns">.large-4.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-3 columns">.large-3.columns</div>
                        <div class="large-3 columns">.large-3.columns</div>
                        <div class="large-3 columns">.large-3.columns</div>
                        <div class="large-3 columns">.large-3.columns</div>
                    </div>
                    <div class="row">
                        <div class="large-2 columns">.large-2.columns</div>
                        <div class="large-2 columns">.large-2.columns</div>
                        <div class="large-2 columns">.large-2.columns</div>
                        <div class="large-2 columns">.large-2.columns</div>
                        <div class="large-2 columns">.large-2.columns</div>
                        <div class="large-2 columns">.large-2.columns</div>
                    </div>
                </div>
            </section>

            <section id="panel-colors" class="row" role="tabpanel" aria-labelledby="tab-colors" aria-hidden="true">
                <div class="small-12 columns">
                    <h2>Colors</h2>
                    <h3>black-1</h3>
                    <p><span class="swatch black-1"></span></p>
                    <h3>grey-1</h3>
                    <p><span class="swatch grey-1"></span></p>
                    <h3>white-1</h3>
                    <p><span class="swatch white-1"></span></p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_colors.html">scss</a></p>
                </div>
            </section>

            <section id="panel-text" class="row" role="tabpanel" aria-labelledby="tab-text" aria-hidden="true">
                <div class="small-12 columns">
                    <h2>Text</h2>
                    <h3>arial-1</h3>
                    <p><span class="arial-1">The Quick Brown Fox Jumps Over the Lazy Dog.</span></p>
                    <h3>open-sans-1</h3>
                    <p><span class="open-sans-1">The Quick Brown Fox Jumps Over the Lazy Dog.</span></p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_text.html">scss</a></p>
                </div>
            </section>

            <section id="panel-elements" class="row" role="tabpanel" aria-labelledby="tab-elements" aria-hidden="true">
                <div class="small-12 columns">
                    <h2>Elements</h2>

                    <h3>Anchors</h3>
                    <p>{{> toolkit/anchor-1 id='anchor-1' title='anchor-1' url='#'}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#anchors">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Usage</h5>
                    <p>Anchors should be used when a click takes the user to a new page or location on the current page.</p>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to an anchor with the tab key<br>
                        THEN I hear the anchor text read aloud<br>
                        AND I will hear element identified as an anchor<br>
                        AND I will see focus visual change</p>
                    </div>

                    <hr>

                    <h3>Buttons</h3>
                    <p>{{> toolkit/button-1 id='button-1' title='button-1'}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#buttons">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Usage</h5>
                    <p>Buttons should be used when a click changes the view by opening a modal or modifying the DOM and does not take the user to a new location.</p>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to a button with the tab key<br>
                        THEN I will hear the button label<br>
                        AND I will hear element identified as a button<br>
                        AND I will see focus visual change<br>
                        AND I will hear a selected indicator if option is selected</p>
                    </div>

                    <hr>

                    <h3>Labels</h3>
                    <p>{{> toolkit/label-1 id='label-1' title='label-1' for='label-example-input'}}</p>
                    <p>{{> toolkit/input-text-1 id='label-example-input' placeholder='placeholder' type='text'}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#labels">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I select a form element label using the keyboard<br>
                        THEN I will hear the label read aloud</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I select a form element label using the keyboard<br>
                        THEN I will hear the label read aloud</p>
                    </div>

                    <hr>

                    <h3>Lists</h3>
                    {{> toolkit/list-1 elements.list-1}}
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#lists">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I select the list using the keyboard<br>
                        THEN I hear element identified as a list<br>
                        AND I will hear the number of items in the list</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN navigate the list with my keyboard arrow keys<br>
                        THEN I will hear the next item read aloud</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN navigate the past the last item in a list with the keyboard arrow key<br>
                        THEN I will hear that I have come to the end of the list</p>
                    </div>

                    <hr>

                    <h3>Input Checkboxes</h3>
                    <p>{{> toolkit/label-1 title='input-checkbox-1' for='input-checkbox-1-example'}}</p>
                    <p>{{> toolkit/input-checkbox-1 id='input-checkbox-1-example' name='checkbox-example' checked=true}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#input-checkboxes">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to a checkbox with the tab key<br>
                        THEN I will hear the element identified as a checkbox<br>
                        AND I will hear the label read aloud<br>
                        AND I will here if it is selected<br>
                        AND I will see focus visual change</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I select a checkbox using the keyboard<br>
                        THEN I will hear the element be selected<br>
                        AND I will hear the label read aloud<br>
                        AND I will here if it is selected</p>
                    </div>

                    <hr>

                    <h3>Input Radio Buttons</h3>
                    <p id="radio-group-label">Radio Group Label</p>
                    <p>{{> toolkit/label-1 title='input-radio-1' for='input-radio-1-example-1'}}</p>
                    <p>{{> toolkit/input-radio-1 id='input-radio-1-example-1' name='radio-example' checked=true  labelledby='radio-group-label'}}</p>
                    <p>{{> toolkit/label-1 title='input-radio-1' for='input-radio-1-example-2'}}</p>
                    <p>{{> toolkit/input-radio-1 id='input-radio-1-example-2' name='radio-example' labelledby='radio-group-label'}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#input-radio-buttons">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to a radio button with the tab key<br>
                        THEN I will hear the element identified as a radio button<br>
                        AND I will hear the label read aloud<br>
                        AND I will here if it is selected<br>
                        AND I will see focus visual change</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I select a radio button using the keyboard<br>
                        THEN I will hear the element be selected<br>
                        AND I will hear the label read aloud<br>
                        AND I will here if it is selected</p>
                    </div>

                    <hr>

                    <h3>Input Text Boxes</h3>
                    <p>{{> toolkit/label-1 title='input-text-1' for='input-text-1-example'}}</p>
                    <p>{{> toolkit/input-text-1 id='input-text-1-example' placeholder='placeholder' type='text'}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#input-text-boxes">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to a text input with the tab key<br>
                        THEN I will hear the element identified as an input<br>
                        AND I will hear the label read aloud<br>
                        AND I will hear any defined value<br>
                        AND I will hear any defined placeholder text<br>
                        AND I will hear if the field is required<br>
                        AND I will see focus visual change</p>
                    </div>

                    <hr>

                    <h3>Textareas</h3>
                    <p>{{> toolkit/label-1 title='textarea-1' for='textarea-1-example'}}</p>
                    <p>{{> toolkit/textarea-1 id='textarea-1-example' placeholder='placeholder'}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#textareas">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to a textarea with the tab key<br>
                        THEN I will hear the element identified as an input<br>
                        AND I will hear the label read aloud<br>
                        AND I will hear any defined value<br>
                        AND I will hear if the field is required<br>
                        AND I will see focus visual change</p>
                    </div>

                    <hr>

                    <h3>Select Menus</h3>
                    <p>{{> toolkit/label-1 title='select-1' for='select-1-example'}}</p>
                    <p>{{> toolkit/select-1 elements.select-1 id='select-1-example'}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#select-menus">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to a dropdown menu with the tab key<br>
                        THEN I will hear the element identified as an dropdown menu<br>
                        AND I will hear the label read aloud<br>
                        AND I will hear any defined value<br>
                        AND I will hear any defined placeholder text<br>
                        AND I will hear if the field is required<br>
                        AND I will see focus visual change</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a blind screen reader user<br>
                        WHEN I open the dropdown menu with the spacebar key<br>
                        THEN I will hear the number of options<br>
                        AND I will hear selected option</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I open the dropdown menu with the spacebar key<br>
                        AND I navigate through the options<br>
                        THEN I will hear the option label<br>
                        AND I will hear a selected indicator if option is selected</p>
                    </div>

                    <hr>

                    <h3>Tables</h3>
                    {{> toolkit/table-1 elements.table-1}}
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#tables">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to a table with the tab key<br>
                        THEN I will hear table caption<br>
                        AND I will hear the number of columns and number of rows</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate from cell to cell using Control + Alt + arrow keys<br>
                        THEN I need to hear the table headers</p>
                    </div>

                    <hr>

                    <h3>Images</h3>
                    <p>{{> toolkit/image-1 image='media/image/apple-touch-icon.png' alt='image example alternative text'}}</p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/style/base/_elements.html#images">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <p>active/actionable images:</p>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN an image receives keyboard focus,<br>
                        THEN I will hear the destination or function of that image.</p>
                    </div>
                    <p>informative images:</p>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I come across an image that presents useful information,<br>
                        THEN I should hear a description that provides equivalent information.</p>
                    </div>
                    <p>decorative images:</p>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I come across an image that is decorative or redundant,<br>
                        THEN I should not hear anything for that image.</p>
                    </div>
                    <p>complex images:</p>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I come across an image that presents complex information,<br>
                        THEN I should hear a detailed description of that image,<br>
                        or find a link to a page that presents more information about the image.</p>
                    </div>
                </div>
            </section>

            <section id="panel-components" class="row" role="tabpanel" aria-labelledby="tab-components" aria-hidden="true">
                <div class="small-12 columns">
                    <h2>Components</h2>

                    <h3>Modals</h3>
                    <p><button class="button-1" data-modal-open="modal-example-1">modal-1</button></p>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/script/view/modal.html">js</a> <a href="report/docco/style/base/_components.html#modals">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I activate a button to call a dialog (the control is NOT a link)<br>
                        THEN the keyboard focus goes to the active dialog<br>
                        AND I hear the screen reader read the title of the dialog<br>
                        (AND the button in default focus, if applicable)<br>
                        AND I cannot escape the dialog with the tab key<br>
                        AND I can escape the dialog with the escape key<br>
                        AND WHEN I close the dialog, the focus goes back to the original button<br>
                        (OR to the most appropriate place, if the button is not appropriate)</p>
                    </div>

                    <hr>

                    <h3>Tab Panels</h3>
                    <div class="tabpanel-1">
                        <ul role="tablist">
                            <li><button id="tab-1" role="tab" aria-controls="panel-1" aria-selected="true">tabpanel-1 tab 1</button></li>
                            <li><button id="tab-2" role="tab" aria-controls="panel-2" aria-selected="false" tabindex="-1">tab 2</button></li>
                            <li><button id="tab-3" role="tab" aria-controls="panel-3" aria-selected="false" tabindex="-1">tab 3</button></li>
                        </ul>
                        <div id="panel-1" aria-labelledby="tab-1" role="tabpanel" aria-hidden="false">
                            <p>tab 1 content</p>
                        </div>
                        <div id="panel-2" aria-labelledby="tab-2" role="tabpanel" aria-hidden="true">
                            <p>tab 2 content</p>
                        </div>
                        <div id="panel-3" aria-labelledby="tab-3" role="tabpanel" aria-hidden="true">
                            <p>tab 3 content</p>
                        </div>
                    </div>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/script/view/tabpanel.html">js</a> <a href="report/docco/style/base/_components.html#tabpanels">scss</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I navigate to a tabpanel widget with the tab key, the focus should land on the active tab.<br>
                        WHEN I hit tab again, the focus should go past the remaining tabs to the next focusable item (beyond the tablist).<br>
                        IF I need to navigate within the tabs, when the keyboard focus is on the active tab, I can use the right arrow key or the down arrow key to go forward through the tabs, or the left arrow key/up arrow key to go backward through tabs.</p>
                    </div>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I land on the active tab using the tab key, the screen reader reads the label for the tab, it says "tab," it says how many tabs are in the group,<br>
                        AND which tab it is (e.g. "tab 1 of 4")<br>
                        AND it says "selected." When I navigate with the arrow keys to other tabs, it says all of the above plus gives the accurate location (e.g. "tab 2 of 4").</p>
                    </div>

                    <h3>Accessible Ajax</h3>
                    <button id="accessible-ajax-example-button" class="button-1">click to load asynchronous content</button>
                    <h4>Source Code</h4>
                    <p><a href="report/docco/script/view/accessiblityAjax.html">js</a></p>
                    <h4>Accessibility</h4>
                    <h5>Gherkin</h5>
                    <div class="gherkin">
                        <p>GIVEN I am a screen reader user<br>
                        WHEN I click a button with that executes an ajax request<br>
                        THEN IF the request response is slow I will hear that content is loading before the request is complete<br>
                        THEN I will hear a message that content has been loaded after the request is complete<br>
                        AND I will see focus visual change<br>
                        AND I will hear the new content added to the page</p>
                    </div>
                </div>
            </section>

        </main>
        <footer>
        </footer>
        <script src="{{cdn}}media/script/app.compiled.js"></script>
    </body>
</html>
