<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- PUSHSTATE -->
        <!-- <rewrite>
            <rules>
                <rule name="history" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^index$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite> -->
        <httpProtocol>
            <!-- SECURITY -->
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Frame-Options" value="deny" />
                <add name="Cache-Control" value="max-age=3600, public" />
                <!-- <add name="Strict-Transport-Security" value="max-age=3600; includeSubDomains" />
                <add name="Access-Control-Allow-Origin" value="//some.domain.com" />
                <add name="Access-Control-Allow-Credentials" value="true" />
                -->
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
    </system.webServer>
</configuration>
