@charset 'UTF-8';

// ## import all dependacies

@import 'base/toolkit';

.toolkit {

    // styles only for the toolkit section of the site.
    &-heading-1,
    &-heading-2,
    &-heading-3,
    &-heading-4 {
        text-transform: uppercase;
    }

    &-heading-1 {

        background-color: $grey-2;
        color: $white-1;
        margin: 0 0 rem-calc(60);
        padding: rem-calc(87) 0 rem-calc(40);
        text-align: center;

        @media #{$medium-up} {
            padding: rem-calc(40) 0;
            position: static;
        }

    }

    &-heading-2 {
        margin-bottom: rem-calc(60);
        text-align: center;
    }

    &-heading-3 {
        margin-bottom: rem-calc(20);
        margin-top: rem-calc(60);
    }

    &-heading-4 {
        margin-bottom: rem-calc(20);
        margin-top: rem-calc(40);
    }

    &-rule-1 {
        margin: rem-calc(60) 0;
    }

    &-header-1 {

        background-color: $black-1;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;

        @media #{$medium-up} {
            background-color: $white-1;
            position: static;
        }

        > button {

            @extend %graphic-menu;

            position: absolute;

            &:active,
            &:focus,
            &:hover {
                background-color: $grey-2;
            }

            @media #{$medium-up} {
                display: none;
            }

        }

        a {
            color: $white-1;
            display: block;
            font-size: rem-calc(18);
            font-weight: 700;
            line-height: rem-calc(52);
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: $grey-5;
            }

            @media #{$medium-up} {
                color: $black-1;
                font-size: rem-calc(30);
                line-height: rem-calc(30);
                margin: rem-calc(52) 0;

                &:hover,
                &:focus {
                    color: $grey-2;
                }

            }

        }

    }

    &-nav-1 {

        background-color: $black-1;
        border-bottom: rem-calc(1) solid $black-1;
        border-top: rem-calc(1) solid $black-1;
        color: $white-1;
        display: none;
        height: 100%;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 5;

        @media #{$small-only} {

            &.mobile-show-menu {
                bottom: 0;
                display: block;
                left: 0;
                right: 0;
                top: rem-calc(50);
            }

        }

        @media #{$medium-up} {
            display: block;
            height: rem-calc(47);
            position: static;
        }

        a {

            background-color: $black-1;
            color: $white-1;
            display: inline-block;
            line-height: rem-calc(45);
            padding: 0 rem-calc(15);
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;

            &.selected,
            &:hover,
            &:focus {
                background-color: $white-1;
                color: $black-1;
            }

            @media #{$medium-up} {
                font-size: rem-calc(13);
                margin-left: rem-calc(-3);
                margin-right: rem-calc(-3);
                width: auto;
            }

            @media #{$large-up} {
                font-size: rem-calc(16);
                width: auto;
            }

            &[aria-selected=true] {
                background-color: $white-1;
                color: $black-1;
            }

        }

    }

    &-gherkin-1 {
        font-style: italic;
    }

    &-swatch-1 {

        display: block;
        height: rem-calc(125);

        &.black-1 {
            background-color: $black-1;
        }

        &.grey-1 {
            background-color: $grey-1;
        }

        &.grey-2 {
            background-color: $grey-2;
        }

        &.grey-3 {
            background-color: $grey-3;
        }

        &.grey-4 {
            background-color: $grey-4;
        }

        &.grey-5 {
            background-color: $grey-5;
        }

        &.grey-6 {
            background-color: $grey-6;
        }

        &.white-1 {
            background-color: $white-1;
        }

        &.red-1 {
            background-color: $red-1;
        }

    }

    &-grid-1 {

        overflow: auto;

        .row {
            background-color: $grey-6;
        }

        .columns {
            border: rem-calc(2) $black-1 solid;
            padding: rem-calc(10);
        }

    }

    &-arial-1 {
        @extend %arial-1;
    }

    &-open-sans-1 {
        @extend %open-sans-1;
    }

    &-graphic-css3-1 {
        @extend %graphic-css3;
    }

    &-graphic-html5-1 {
        @extend %graphic-html5;
    }

    &-panels-1 {

        > .panel {

            @extend %heading-1;

            > .panel-content {

                color: $white-1;
                padding-top: 50vh;
                text-align: center;
                text-transform: uppercase;

            }

            &.panel-1 {

                > .panel-content {
                    background-image: url('../image/demo/panel-1.jpg');
                }

            }

            &.panel-2 {

                > .panel-content {
                    background-image: url('../image/demo/panel-2.jpg');
                }

            }

            &.panel-3 {

                > .panel-content {
                    background-image: url('../image/demo/panel-3.jpg');
                }

            }

            &.panel-4 {

                > .panel-content {
                    background-image: url('../image/demo/panel-4.jpg');
                }

            }

            &.panel-5 {

                > .panel-content {
                    background-image: url('../image/demo/panel-5.jpg');
                }

            }

            &.panel-6 {

                > .panel-content {
                    background-image: url('../image/demo/panel-6.jpg');
                }

            }

        }

    }

}
