@charset 'UTF-8';

// ## import all dependacies

@import 'base/toolkit';

// styles only for the toolkit section of the site.
h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

h1 {
    background-color: $grey-2;
    color: $white-1;
    margin: 0;
    padding: rem-calc(40) 0;
    text-align: center;
}

h2 {
    margin: rem-calc(100) 0;
    text-align: center;
}

h3 {
    text-align: center;
}

hr {
    margin: rem-calc(60) 0;
}

header {

    background-color: $black-1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    @media #{$medium-up} {
        background-color: $white-1;
        position: static;
    }

    > button {

        @extend %graphic-menu;

        position: absolute;

        &:active,
        &:focus,
        &:hover {
            background-color: $grey-2;
        }

        @media #{$medium-up} {
            display: none;
        }

    }

    a {
        color: $white-1;
        display: block;
        font-size: rem-calc(18);
        font-weight: 700;
        line-height: rem-calc(52);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $grey-5;
        }

        @media #{$medium-up} {
            color: $black-1;
            font-size: rem-calc(30);
            line-height: rem-calc(30);
            margin: rem-calc(52) 0;

            &:hover,
            &:focus {
                color: $grey-2;
            }

        }

    }

}

nav {

    background-color: $black-1;
    border-bottom: rem-calc(1) solid $black-1;
    border-top: rem-calc(1) solid $black-1;
    color: $white-1;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 5;

    @media #{$small-only} {

        &.mobile-show-menu {
            bottom: 0;
            display: block;
            left: 0;
            right: 0;
            top: rem-calc(50);
        }

    }

    @media #{$medium-up} {
        display: block;
        position: static;
    }

    ul {

        list-style: none;
        margin: 0;
        padding: 0;

        @media #{$medium-up} {

            border: 0;
            display: flex;

            li {
                float: left;
            }

        }

    }

    a {

        background-color: $black-1;
        color: $white-1;
        display: block;
        line-height: rem-calc(45);
        padding: 0 rem-calc(15);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;

        &.selected,
        &:hover,
        &:focus {
            background-color: $white-1;
            color: $black-1;
        }

        @media #{$medium-up} {
            font-size: rem-calc(13);
            width: auto;
        }

        @media #{$large-up} {
            font-size: rem-calc(16);
            width: auto;
        }

        &[aria-selected=true] {
            background-color: $white-1;
            color: $black-1;
        }

    }

}

.gherkin {
    font-size: rem-calc(14);
    font-style: italic;
}

.swatch {

    display: block;
    height: rem-calc(125);

    &.black-1 {
        background-color: $black-1;
    }

    &.grey-1 {
        background-color: $grey-1;
    }

    &.grey-2 {
        background-color: $grey-2;
    }

    &.grey-3 {
        background-color: $grey-3;
    }

    &.grey-4 {
        background-color: $grey-4;
    }

    &.grey-5 {
        background-color: $grey-5;
    }

    &.grey-6 {
        background-color: $grey-6;
    }

    &.white-1 {
        background-color: $white-1;
    }

    &.red-1 {
        background-color: $red-1;
    }

}

.grid {

    overflow: auto;

    .row {
        background-color: $grey-6;
    }

    .columns {
        border: rem-calc(2) $black-1 solid;
        padding: rem-calc(10);
    }

}

.arial-1 {
    @extend %arial-1;
}

.open-sans-1 {
    @extend %open-sans-1;
}

.graphic-css3 {
    @extend %graphic-css3;
}

.graphic-html5 {
    @extend %graphic-html5;
}
