%panel-base-1 {

    backface-visibility: hidden;
    height: 100vh;
    position: relative;

    > .panel-content {

        backface-visibility: hidden;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        position: relative;
        transform: translate3d(0, 0, 0);

    }

}

%panels-1 {

    position: relative;

    &.panel-scrollable-disabled {

        > .panel {

            &.panel-scrollable {
                height: 100vh;
            }

        }

    }

    > .panel {

        @extend %panel-base-1;

        &.panel-scrollable {
            height: 200vh;
        }

        &.panel-scrollable-bottom {

            > .panel-content {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
            }

        }

        &.panel-scrollable-fixed {

            > .panel-content {
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
            }

        }

    }

}
