// ## input checkboxes

%input-checkbox-1 {
    margin: 0;
}

// ## input errors

%input-error-1 {

    @extend %arial-1;

    background-color: $red-1;
    color: $white-1;
    font-weight: 700;
    margin-top: rem-calc(5);
    padding: rem-calc(10);

    strong {
        font-weight: 700;
    }

}

// ## input radio buttons

%input-radio-1 {
    margin: 0;
}

// ## input text boxes

%input-text-1 {

    @extend %arial-1;


    display: block;
    margin: 0;
    min-height: rem-calc(45);
    width: 100%;

}

// ## textareas

%textarea-1 {

    @extend %arial-1;

    display: block;
    margin: 0;
    min-height: rem-calc(45);
    width: 100%;

}

// ## select menus

%select-1 {

    @extend %arial-1;

    height: rem-calc(45);
    margin: 0;

}
